{% import_yaml "jenkins/defaults.yaml" as default_settings %}
{#% import_yaml "jenkins/osmap.yaml" as osmap %#}

# standard OS family customization
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['jenkins','python-bcrypt'],
        'service': 'jenkins',
        'config': '/etc/default/jenkins',
        'home': '/var/lib/jenkins',
        'update_site_url': 'https://updates.jenkins-ci.org/update-center.json',
        'repo_url_stable': 'https://pkg.jenkins.io/debian-stable',
        'repo_key_stable': 'https://pkg.jenkins.io/debian-stable/jenkins.io.key'
    },
    'RedHat': {
        'pkgs': ['jenkins'],
        'service': 'jenkins',
        'config': '/etc/sysconfig/jenkins',
        'home': '/var/lib/jenkins',
        'update_site_url': 'https://updates.jenkins-ci.org/update-center.json',
        'repo_url_stable': 'https://pkg.jenkins.io/redhat-stable',
        'repo_key_stable': 'https://pkg.jenkins.io/redhat-stable/jenkins.io.key'
    },
  }, merge=salt['pillar.get']('jenkins:master'))
%}
{% do default_settings.jenkins.master.update(os_family_map) %}

# merge pillar on top of default settings
{% set master = salt['pillar.get'](
    'jenkins:master',
    default=default_settings.jenkins.master,
    merge=True
)%}

{% set job_builder = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['jenkins-job-builder'],
        'dir': {
            'conf': '/etc/jenkins_jobs',
            'base': '/srv/jenkins_jobs'
        },
        'source': {
            'engine': 'pkg'
        }
    },
    'RedHat': {
        'pkgs': ['jenkins-job-builder'],
        'dir': {
            'conf': '/etc/jenkins_jobs',
            'base': '/srv/jenkins_jobs'
        },
        'source': {
            'engine': 'pkg'
        }
    },
}, merge=pillar.jenkins.get('job_builder', {})) %}

{% set slave = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['jenkins-slave'],
        'init_script': '/etc/init.d/jenkins-slave',
        'service': 'jenkins-slave',
        'config': '/etc/default/jenkins-slave',
    },
    'RedHat': {
        'pkgs': ['jenkins-slave'],
        'init_script': '/etc/init.d/jenkins-slave',
        'service': 'jenkins-slave',
        'config': '/etc/sysconfig/jenkins-slave',
    },
}, merge=pillar.jenkins.get('slave', {})) %}

{% set job_status = {
    'SUCCESS': {
        'ordinal': '0',
        'color': 'BLUE'
    },
    'UNSTABLE': {
        'ordinal': '1',
        'color': 'YELLOW'
    },
    'FAILURE': {
        'ordinal': '2',
        'color': 'RED'
    }
} %}

{% set client = salt['grains.filter_by']({
    'default': {
        'pkgs': ['python-jenkins', 'python-bcrypt'],
        'job_status': job_status,
        'dir': {
            'jenkins_source_root': '/var/cache/salt/minion/jenkins/source',
            'jenkins_jobs_root': '/var/cache/salt/minion/jenkins/jobs',
        }
    },
}, merge=pillar.jenkins.get('client', {})) %}
